* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

header {
  background: url('../images/headerImage.jpg');
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}

a {
  color: #39205A;
}

a:hover {
  color: #17E1E3;
}

.washed-red:hover {
  color: #FF725C;
}

.background-opacity {
  background: rgba(0,0,0,0.5);
}

section {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.work-item-image {
  padding-bottom: 56.25%;
  border-radius: 25px;
}

.connect-three .work-item-image {
  background-image: url('../images/ConnectThree.png');
}

.headlines .work-item-image {
  background-image: url('../images/NYTimesApp.png');
}

.under-ten .work-item-image {
  background-image: url('../images/UnderTen.png');
}

.technologies {
  height: 100%;
  visibility: hidden;
  border-radius: 25px;
}

.work-item-image:hover .technologies {
  visibility: visible;
}

/*mobile*/
@media (min-width: 320px) {
  h1 {
    font-size: 40px;
  }
}

/*tablet*/
@media (min-width: 768px) {
  h1 {
    font-size: 70px;
  }
}

 /*desktop*/
@media (min-width: 816px) {
  h3 {
    font-size: 20px;
  }
}
