@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.rainbow-letters {
  font-size: 0;
}

.rainbow-letters span {
  font-size: 2rem;
}

.rainbow-letters span:nth-child(4n + 1) {
  color: #e96290;
}

.rainbow-letters span:nth-child(4n + 2), a {
  color: #185290;
}

.rainbow-letters span:nth-child(4n + 3) {
  color: #009499;
}

.rainbow-letters span:nth-child(4n + 4) {
  color: #ff6f61;
}

/*tablet*/
@media (min-width: 768px) {
  .rainbow-letters span {
    font-size: 36px;
  }
}

 /*desktop*/
@media (min-width: 816px) {
  .rainbow-letters span {
    font-size: 48px;
  }
}
